<% if notice %>
  <div id="notice" class="alert alert-danger"><%= notice %></div>
<% end %>

<h1>
  Últimas peleas
  <div class="float-right">
    <%= link_to "Hacer una pelea", peleas_pelear_path, :class=>"btn btn-outline-primary" %>
  </div>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Peleadores</th>
      <th>Ganador</th>
    </tr>
  </thead>
  <tbody>
    <% @peleas.each do |pelea| %>
      <tr>
        <td>
          <%= pelea.persona.name %> contra <%= pelea.nombre_heroe %>
        </td>
        <td class="<%= pelea.gana_heroe ? 'table-danger' : 'table-success' %>">
          <%= pelea.gana_heroe ? pelea.nombre_heroe : pelea.persona.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Volver", root_path, :class=>"btn btn-outline-secondary" %>
</div>
