<h1>Editar a <%= @persona.name %></h1>

<%= bootstrap_form_for(@persona) do |f| %>
  <%= f.text_field :name, label: "Nombre" %>
  <%= f.email_field :email %>
  <%= link_to 'Volver', personas_path, :class=>"btn btn-outline-secondary" %>
  <%= f.submit "Guardar", :class=>"btn btn-outline-primary" %>
<% end %>
